<%= render partial:'layouts/bookmarklet' %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Aan het volgen</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Een website volgen, betekent dat Klaxon een versie (snapshot) zal opslaan elke keer de pagina wijzigt. Hieronder staan alle opdrachten en kan je de meest recente snapshots bekijken.</p>
      </div>
      <div class="col-md-3">
        <!-- negative space -->
      </div>
      <div class="col-md-3">
        <%= link_to 'Watch an Item', new_page_path, class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Gemaakt op</th>
          <th>Naam</th>
          <th>Site</th>
          <th>CSS-selector</th>
          <th>Opdrachtgever</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
        <tr>
          <td><%= page.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
          <td><%= page.name %></td>
          <td><%= page.domain.truncate(40) %></td>
          <td><code><%= page.css_selector %></code></td>
          <td><%= page&.user&.display_name %></td>
          <td><% if page.page_snapshots.count > 1 %><%= link_to "Laatste wijziging", latest_change_page_path(page), class: "btn btn-default btn-block" %><% end %></td>
          <td><%= link_to 'Aanpassen', edit_page_path(page), class: "btn btn-default btn-block" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
